/node_modules
/public/storage
/storage/*.key
/storage/logs/*
/vendor
/public/adminer.php
.env
.env.backup
.git
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
deploy.php
#madeline
app/Console/Commands/TgParser/madeline.php
madeline-72.phar
madeline-72.phar.version
/app/Console/Commands/TgParser/MadelineProto.log
/app/Console/Commands/TgParser/session.madeline.safe.php
/app/Console/Commands/TgParser/madeline-72.phar
/app/Console/Commands/TgParser/madeline-72.phar.version
/app/Console/Commands/TgParser/session.madeline
/app/Console/Commands/TgParser/session.madeline.ipcState.php
/app/Console/Commands/TgParser/session.madeline.ipcState.php.lock
/app/Console/Commands/TgParser/session.madeline.lightState.php.lock
/app/Console/Commands/TgParser/session.madeline.lightState.php
/app/Console/Commands/TgParser/session.madeline.lock
/app/Console/Commands/TgParser/session.madeline.safe.php.lock
